<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>

    <% newsJSON.forEach(newsInfo=>{%>
        <section>
            <h2>
                <%- newsInfo.title%>
            </h2>
            <p>
                <%- newsInfo.publishedAt%>
            </p>
            <img src="<%- newsInfo.urlToImage %>" alt="">
            <p>
                <%- newsInfo.content%>
            </p>
            <div>
                <p>
                    <%- newsInfo.author%>
                </p>
                <a href="<%- newsInfo.url%>">Click 4 More</a>
            </div>
        </section>

        <%})%>
</body>

</html>